.main {
  padding: 70px;
}
.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.shimmer {
  width: 140px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #f0f0f0 25%, #e1e1e1 37%, #f0f0f0 63%);
  background-size: 400% 400%;
  animation: shimmerAnimation 2s infinite;
}
.loading {
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.8;
  overflow: hidden !important;
}
@keyframes shimmerAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
